# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Skoleting\DAT_307-prosjekt_Web_Service\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
